@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Cinzel:wght@400;700&family=Xanh+Mono&display=swap');
  
  :root {
    --background-color: #F9F9F9;
    --color-shadow: #9D8F8F;
    --border-color: #343a40;

    --color-h1: #3C2317;
    --color-h1-decoration: #625757;
    --color-text-i: #625757;

    --hover-a-i: #3C2317;
    }

* {
        box-sizing: border-box;
        margin: 0;
    }
    
body {
font-family: "Baskervville", serif;
font-size: 16px;
background-color: var(--background-color);
    }

.title {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-h1);
    text-decoration-line: underline;
    text-decoration: underline solid var(--color-h1-decoration);
    text-shadow: 2px 0 5px var(--color-shadow);
    width: 100%;
    font-family: "Cinzel", serif;
    font-size: 40px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.text {
    margin-left: 50px;
    cursor: pointer;
    color: var(--color-text-i);
    text-align:start;
}

a {
    text-decoration: none;
    color: var(--color-text-i);
}

.text:hover,
a:hover {
    color: var(--hover-a-i);
}

.illustration {
    display: flex;
   justify-content: center;
   margin-top: 40px;
   margin-bottom: 30px;
}

img {
     display: block;
   justify-content: center;
    max-width: 400px;
    height: auto;
    padding-right: 80px;
}

.slogan {
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
background-color: var(--background-color);
}

.flex {
    display: flex;
    justify-content: center;
}

.border {
    position: relative;
    width: 90%;
    height: 100px;
}
  
.border:before, 
.border::after {
    content: '';
    position: absolute;
    top: 15%;
    right: -10px;
    background: linear-gradient( to right,
    #EEE3CB, #3C4048, #B2B2B2,#B7C4CF, #6B728E, #EEE3CB, 
    #3C4048, #B2B2B2,#B7C4CF, #6B728E
    );
    background-size: 400%;
    width: calc(100% + 20px);
	height: calc(90% + 5px);
	z-index: -100;
	animation: steam 8s linear infinite;
    border-radius: 10px;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px
    margin-right: 500px;
    padding-bottom: 10px;
     }
    
 i {
    padding-top: 5px;
    font-size: 20px;
    padding-right: 10px;       
    color: var(--color-text-i);
     }
    
 i:hover {
    color: var(--hover-a-i);
     }


     @media screen and (min-width: 400px) and (max-width: 800px) {

     .illustration {
        display: block;
        margin-left: 15%;
     }
        
     }